.header {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

.currencyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: moveHorizontally 20s linear infinite;
}

.currency {
  font-weight: 400;
  font-size: 24px;
}

@keyframes moveHorizontally {
  0% {
    transform: translateX(-150px);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-150px);
  }
}
