.form {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.inputWrapper {
  display: flex;
  gap: 8px;
}

.input {
  border: 1px solid black;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.375;
  color: #121417;
  outline: none;
  padding: 6px 8px;
}

.select {
}
