.converter {
  padding: 100px 0;
}

.form {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  padding: 8px;
  border: 1px solid black;
}

.inputWrapper {
  display: flex;
  gap: 8px;
}
